<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="aboutForm">
        <form [formGroup]="aboutForm">
            <ng-template matStepLabel>About you</ng-template>
            <h3 class="mb-5">About you</h3>
            <mat-form-field appearance="fill">
                <mat-label>Your first name</mat-label>
                <input matInput placeholder="About you" formControlName="firstname">
            </mat-form-field>
            <div>
                <button mat-button matStepperNext class="btn btn-primary">Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="financesForm" label="Your finances">
        <form [formGroup]="financesForm">
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>